<div class="container border ps-3 pt-3 pe-2 pb-3">
  <div class="left-right">
    <div class="left">
      <div class="title">
        <h1 class="m-0">Image - 1</h1>
      </div>

      <div class="info-data">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
          eligendi ab a voluptate esse? Porro iusto explicabo praesentium
          repudiandae aperiam iure nulla magni earum saepe, quod eveniet dolores
          non? Perspiciatis consectetur maiores vel possimus aliquam consequatur
          quasi amet magnam totam voluptate delectus illum natus, nisi quae
          sequi distinctio, enim nulla exercitationem odit veritatis sint labore
          maxime porro! Sequi ea provident natus quisquam nihil eum sit! Fuga
          laboriosam sequi, eligendi perspiciatis corrupti voluptatum! Sint
          voluptatem error vero ut laudantium animi nobis repellat, porro enim
          rem mollitia, magnam voluptatibus nulla officia praesentium illum
          maiores sapiente dolor alias quibusdam, veniam sed eos! Repellat.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias
          blanditiis harum consequatur ea non animi, quam sed recusandae
          tempora, illum architecto suscipit ipsa adipisci sequi accusantium
          fuga neque impedit.
        </p>
      </div>
    </div>

    <div class="right">
      <div class="box rounded">
        <img
          src="https://www.freecodecamp.org/news/content/images/2022/04/derick-mckinney-oARTWhz1ACc-unsplash.jpg"
          alt="laptop"
        />
      </div>
    </div>
  </div>
</div>
