.left-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.title {
  margin-top: 24px;
  margin-bottom: 30px;
  border-left: 5px solid blue;
}

.title h1 {
  font-size: 50px;
  font-weight: 400;
  padding-left: 18px;
  color: #333;
}

.info-data p {
  font-size: 18px;
  color: rgb(91, 91, 91);
  text-align: justify;
  font-weight: 400;
}

.touch-btn {
  margin: 30px 0px 40px 0px;
}


.box {
  width: 100%;
  min-height: 500px;
  max-height: 100%;
  background-color: rgba(128, 128, 128, 0.347);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box img {
  width: 100%;
  min-height: 500px;
  max-width: 100%;
  object-fit: cover;
}