<nav class="nav">
  <a
    class="nav-link"
    href="#"
    routerLink="/home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a href="#" class="nav-link" routerLink="/about" routerLinkActive="active"
    >About Us</a
  >
  <a href="#" class="nav-link" routerLink="/gallery" routerLinkActive="active"
    >Gallery</a
  >
  <a href="#" class="nav-link" routerLink="/products" routerLinkActive="active"
    >Products</a
  >
  <a href="#" class="nav-link" routerLink="/services" routerLinkActive="active"
    >Services</a
  >
  <a href="#" class="nav-link" routerLink="/contact" routerLinkActive="active"
    >Contact Us</a
  >
</nav>
